{% load static %}
 <!DOCTYPE html>
 <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        <link href='https://css.gg/instagram.css' rel='stylesheet'>
        <link rel="stylesheet" href="/home/douglas/Desktop/Nova pasta/css.css">
    </head>
    <body>
      <div  class="banner">
        <video autoplay muted loop>
            <source src="home/douglas/djangogirls/blog/static/css/media/video1.mp4" type="video/mp4">;
        </video>

      </div>
        <body>
            <nav class="navMenu">
              <a href="#">Início</a>
              <a href="blog.html">Blog</a>
              <a href="work.html">Work</a>
              <a href="#">Sobre</a>
              <div class="dot"></div>
            </nav>
          </body>

        </div>
    </body>
 </html>
